node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log
.env
.env.local
.env.*.local
.DS_Store
.vscode/
.idea/
dist/
build/
coverage/
.cache/
.next/
.nuxt/
.parcel-cache/
.public/
.out/
*.log
logs/
*.tsbuildinfo
.pnp/
.pnp.js
.yarn/*
# Optional: ignore local editor files
*.sublime-workspace
*.sublime-project
